Django==4.2.7
amqp==5.3.1
asgiref==3.9.1
billiard==4.2.1
celery==5.3.4
certifi==2025.8.3
cffi==1.17.1
charset-normalizer==3.4.3
click==8.2.1
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
colorama==0.4.6
crispy-bootstrap5==2023.10
cryptography==45.0.6
defusedxml==0.7.1
django-allauth==0.58.2
django-ckeditor==6.7.0
django-crispy-forms==2.1
django-environ==0.11.2
django-filter==23.5
django-js-asset==3.1.2
django-redis==5.3.0
django-rosetta==0.10.2
idna==3.10
kombu==5.5.4
oauthlib==3.3.1
packaging==25.0
pillow==11.3.0
polib==1.2.0
prompt_toolkit==3.0.51
pycparser==2.22
PyJWT==2.10.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.0
python3-openid==3.2.0
pytz==2025.2
redis==4.6.0
requests==2.32.4
requests-oauthlib==2.0.0
six==1.17.0
sqlparse==0.5.3
tzdata==2025.2
urllib3==2.5.0
vine==5.1.0
wcwidth==0.2.13
