{% load i18n %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{% trans "Password Reset" %}</title>
</head>
<body>
    <h2>{% trans "Password Reset Request" %}</h2>

    <p>{% trans "You're receiving this email because you requested a password reset for your MMORPG Portal account." %}</p>

    <p>{% trans "Please go to the following page and choose a new password:" %}</p>

    <p>
        <a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">
            {{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
        </a>
    </p>

    <p>
        <a href="{{ protocol }}://127.0.0.1:8000/{% url 'password_reset_confirm' uidb64=uid token=token %}">
            {{ protocol }}://{{ '127.0.0.1:8000/' }}{% url 'password_reset_confirm' uidb64=uid token=token %}
        </a>
    </p>

    <p>{% trans "Your username, in case you've forgotten:" %} <strong>{{ user.get_username }}</strong></p>

    <p>{% trans "This link is valid for 24 hours. If you didn't request this reset, please ignore this email." %}</p>

    <hr>

    <p>{% trans "Thank you for using MMORPG Portal!" %}</p>
    <p><em>{% trans "MMORPG Portal Team" %}</em></p>
</body>
</html>